<a href="https://colab.research.google.com/github/KODURISRIHARI/PySpark_library_python/blob/main/Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [1]:
import pandas as pd
import pyspark

In [2]:
d = pd.DataFrame({'Name':['Koduri Srihari','Koduri Srinu'],'Age':[24,54]})
d

             Name  Age
0  Koduri Srihari   24
1    Koduri Srinu   54

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [5]:
spark

In [6]:
df_pyspark  = spark.read.csv('/content/py_spark_practise.csv')
df_pyspark.show()

+---------------+----+--------------------+
|            _c0| _c1|                 _c2|
+---------------+----+--------------------+
|           Name| Age|         Looking_for|
| Koduri Srihair|  24|Data_Science_analyst|
|  Vatsavi Ashok|  23|        Data_Analyst|
|koduri srihari |NULL|      data scientist|
|   ashok varma |  23|                NULL|
+---------------+----+--------------------+

In [7]:
df_pyspark = spark.read.option('header','true').csv('/content/py_spark_practise.csv')

In [8]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [9]:
type(pd.read_csv("/content/py_spark_practise.csv"))

pandas.core.frame.DataFrame

In [10]:
df_pyspark.head(1)

[Row(Name='Koduri Srihair', Age='24', Looking_for='Data_Science_analyst')]

In [11]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Looking_for: string (nullable = true)

### Pyspark DataFrame
### reading the dataset
### checking the datatypes of the columns [ schema ]
### selecting columns and indexing
### checking describe option simila rto pandas
###  adding columns
###  dropping the columns

In [12]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('DataFrame').getOrCreate()

In [13]:
spark

In [14]:
# read the dataset using pyspark
df_pyspark = spark.read.option('header','true').csv("/content/py_spark_practise.csv",inferSchema=True)

print(df_pyspark)
print("\n")
print(df_pyspark.head(1))

DataFrame[Name: string, Age: double, Looking_for: string]


[Row(Name='Koduri Srihair', Age=24.0, Looking_for='Data_Science_analyst')]

In [15]:
#  check the Schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Looking_for: string (nullable = true)

In [16]:
df_pyspark = spark.read.csv('/content/py_spark_practise.csv',header=True,inferSchema=True)
df_pyspark.show()

+---------------+----+--------------------+
|           Name| Age|         Looking_for|
+---------------+----+--------------------+
| Koduri Srihair|24.0|Data_Science_analyst|
|  Vatsavi Ashok|23.0|        Data_Analyst|
|koduri srihari |NULL|      data scientist|
|   ashok varma |23.0|                NULL|
+---------------+----+--------------------+

In [17]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Looking_for: string (nullable = true)

In [18]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [19]:
df_pyspark.columns

['Name', 'Age', 'Looking_for']

In [20]:
df_pyspark.show()

+---------------+----+--------------------+
|           Name| Age|         Looking_for|
+---------------+----+--------------------+
| Koduri Srihair|24.0|Data_Science_analyst|
|  Vatsavi Ashok|23.0|        Data_Analyst|
|koduri srihari |NULL|      data scientist|
|   ashok varma |23.0|                NULL|
+---------------+----+--------------------+

In [21]:
df_pyspark.select('Name').show()

+---------------+
|           Name|
+---------------+
| Koduri Srihair|
|  Vatsavi Ashok|
|koduri srihari |
|   ashok varma |
+---------------+

In [22]:
df_pyspark.select(['Name','Age']).show()

+---------------+----+
|           Name| Age|
+---------------+----+
| Koduri Srihair|24.0|
|  Vatsavi Ashok|23.0|
|koduri srihari |NULL|
|   ashok varma |23.0|
+---------------+----+

In [23]:
df_pyspark['Name']

Column<'Name'>

In [24]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'double'), ('Looking_for', 'string')]

In [25]:
df_pyspark.describe().show()

+-------+---------------+------------------+--------------+
|summary|           Name|               Age|   Looking_for|
+-------+---------------+------------------+--------------+
|  count|              4|                 3|             3|
|   mean|           NULL|23.333333333333332|          NULL|
| stddev|           NULL|0.5773502691896258|          NULL|
|    min| Koduri Srihair|              23.0|  Data_Analyst|
|    max|koduri srihari |              24.0|data scientist|
+-------+---------------+------------------+--------------+

In [26]:
# adding columns in dataframe
df_pyspark.withColumn('name_new_column',df_pyspark['Name']).show()

+---------------+----+--------------------+---------------+
|           Name| Age|         Looking_for|name_new_column|
+---------------+----+--------------------+---------------+
| Koduri Srihair|24.0|Data_Science_analyst| Koduri Srihair|
|  Vatsavi Ashok|23.0|        Data_Analyst|  Vatsavi Ashok|
|koduri srihari |NULL|      data scientist|koduri srihari |
|   ashok varma |23.0|                NULL|   ashok varma |
+---------------+----+--------------------+---------------+

In [27]:
# drop the columns
df_pyspark = df_pyspark.drop('name_new_column')
df_pyspark.show()

+---------------+----+--------------------+
|           Name| Age|         Looking_for|
+---------------+----+--------------------+
| Koduri Srihair|24.0|Data_Science_analyst|
|  Vatsavi Ashok|23.0|        Data_Analyst|
|koduri srihari |NULL|      data scientist|
|   ashok varma |23.0|                NULL|
+---------------+----+--------------------+

In [28]:
df_pyspark.withColumnRenamed('Name','New_Name_1_2').show()

+---------------+----+--------------------+
|   New_Name_1_2| Age|         Looking_for|
+---------------+----+--------------------+
| Koduri Srihair|24.0|Data_Science_analyst|
|  Vatsavi Ashok|23.0|        Data_Analyst|
|koduri srihari |NULL|      data scientist|
|   ashok varma |23.0|                NULL|
+---------------+----+--------------------+

#  Pyspark handling missing values
### dropping columns
### dropping rows
### various parameter in dropping functionalities
### handling missing values by mean,median,mode

In [29]:
from pyspark.sql import SparkSession

spark =  SparkSession.builder.appName('Practise').getOrCreate()

In [30]:
df_sprk = spark.read.csv('/content/py_spark_practise.csv',header=True,inferSchema=True)
df_sprk.show()

+---------------+----+--------------------+
|           Name| Age|         Looking_for|
+---------------+----+--------------------+
| Koduri Srihair|24.0|Data_Science_analyst|
|  Vatsavi Ashok|23.0|        Data_Analyst|
|koduri srihari |NULL|      data scientist|
|   ashok varma |23.0|                NULL|
+---------------+----+--------------------+

In [31]:
df_sprk.drop('Age').show()

+---------------+--------------------+
|           Name|         Looking_for|
+---------------+--------------------+
| Koduri Srihair|Data_Science_analyst|
|  Vatsavi Ashok|        Data_Analyst|
|koduri srihari |      data scientist|
|   ashok varma |                NULL|
+---------------+--------------------+

In [32]:
df_sprk.show()

+---------------+----+--------------------+
|           Name| Age|         Looking_for|
+---------------+----+--------------------+
| Koduri Srihair|24.0|Data_Science_analyst|
|  Vatsavi Ashok|23.0|        Data_Analyst|
|koduri srihari |NULL|      data scientist|
|   ashok varma |23.0|                NULL|
+---------------+----+--------------------+

In [33]:
df_sprk.na.drop().show()

+--------------+----+--------------------+
|          Name| Age|         Looking_for|
+--------------+----+--------------------+
|Koduri Srihair|24.0|Data_Science_analyst|
| Vatsavi Ashok|23.0|        Data_Analyst|
+--------------+----+--------------------+

In [34]:
### any ==  how
df_sprk.na.drop(how='any').show()

+--------------+----+--------------------+
|          Name| Age|         Looking_for|
+--------------+----+--------------------+
|Koduri Srihair|24.0|Data_Science_analyst|
| Vatsavi Ashok|23.0|        Data_Analyst|
+--------------+----+--------------------+

In [35]:
### all == how
df_sprk.na.drop(how='all').show()

+---------------+----+--------------------+
|           Name| Age|         Looking_for|
+---------------+----+--------------------+
| Koduri Srihair|24.0|Data_Science_analyst|
|  Vatsavi Ashok|23.0|        Data_Analyst|
|koduri srihari |NULL|      data scientist|
|   ashok varma |23.0|                NULL|
+---------------+----+--------------------+

In [36]:

## threshold
df_sprk.na.drop(how='any',thresh=1).show()

+---------------+----+--------------------+
|           Name| Age|         Looking_for|
+---------------+----+--------------------+
| Koduri Srihair|24.0|Data_Science_analyst|
|  Vatsavi Ashok|23.0|        Data_Analyst|
|koduri srihari |NULL|      data scientist|
|   ashok varma |23.0|                NULL|
+---------------+----+--------------------+

In [37]:
## subset
df_sprk.na.drop(how='any',subset=['Age']).show()

+--------------+----+--------------------+
|          Name| Age|         Looking_for|
+--------------+----+--------------------+
|Koduri Srihair|24.0|Data_Science_analyst|
| Vatsavi Ashok|23.0|        Data_Analyst|
|  ashok varma |23.0|                NULL|
+--------------+----+--------------------+

In [38]:
## filling the missing value
df_sprk.na.fill('Missing values').show()

+---------------+----+--------------------+
|           Name| Age|         Looking_for|
+---------------+----+--------------------+
| Koduri Srihair|24.0|Data_Science_analyst|
|  Vatsavi Ashok|23.0|        Data_Analyst|
|koduri srihari |NULL|      data scientist|
|   ashok varma |23.0|      Missing values|
+---------------+----+--------------------+

In [39]:
df_sprk.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Looking_for: string (nullable = true)

In [40]:
## filling the missing value
df_sprk.na.fill('Missing values',['Age','Looking_for']).show()

+---------------+----+--------------------+
|           Name| Age|         Looking_for|
+---------------+----+--------------------+
| Koduri Srihair|24.0|Data_Science_analyst|
|  Vatsavi Ashok|23.0|        Data_Analyst|
|koduri srihari |NULL|      data scientist|
|   ashok varma |23.0|      Missing values|
+---------------+----+--------------------+

In [41]:

df_sprk

DataFrame[Name: string, Age: double, Looking_for: string]

In [42]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Age'],
    outputCols=["{}_imputed".format(c) for c in ['Age']]
).setStrategy("median")

In [43]:
#add imputation cols to df
imputer.fit(df_sprk).transform(df_sprk).show()

+---------------+----+--------------------+-----------+
|           Name| Age|         Looking_for|Age_imputed|
+---------------+----+--------------------+-----------+
| Koduri Srihair|24.0|Data_Science_analyst|       24.0|
|  Vatsavi Ashok|23.0|        Data_Analyst|       23.0|
|koduri srihari |NULL|      data scientist|       23.0|
|   ashok varma |23.0|                NULL|       23.0|
+---------------+----+--------------------+-----------+

#Pyspark DataFrames
#### Filter operation
#### &,|,==
#### ~

In [44]:
df = pd.DataFrame({'Name':['Koduri Srihari','Koduri Srinu','KOduri Ashok','Koduri Amalamma','Koduri Balaji'],'Age':[24,54,27,45,25],'Experience':[3,2,6,4,4.5],'Salary':[25000,34666,26745,30550,45000]})
df.head()

              Name  Age  Experience  Salary
0   Koduri Srihari   24         3.0   25000
1     Koduri Srinu   54         2.0   34666
2     KOduri Ashok   27         6.0   26745
3  Koduri Amalamma   45         4.0   30550
4    Koduri Balaji   25         4.5   45000

In [45]:
df.to_csv('dummy.csv',index=False)

In [46]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("DataFrame").getOrCreate()

In [47]:
df_spark = spark.read.csv('/content/dummy.csv',header=True,inferSchema=True)
df_spark.show()

+---------------+---+----------+------+
|           Name|Age|Experience|Salary|
+---------------+---+----------+------+
| Koduri Srihari| 24|       3.0| 25000|
|   Koduri Srinu| 54|       2.0| 34666|
|   KOduri Ashok| 27|       6.0| 26745|
|Koduri Amalamma| 45|       4.0| 30550|
|  Koduri Balaji| 25|       4.5| 45000|
+---------------+---+----------+------+

# filter Operations

In [48]:
## salary of the people less than 20000
df_spark.filter("Salary<=25000").show()

+--------------+---+----------+------+
|          Name|Age|Experience|Salary|
+--------------+---+----------+------+
|Koduri Srihari| 24|       3.0| 25000|
+--------------+---+----------+------+

In [49]:
df_spark.filter("Salary<=25000").select(['Name','Age','Salary']).show()

+--------------+---+------+
|          Name|Age|Salary|
+--------------+---+------+
|Koduri Srihari| 24| 25000|
+--------------+---+------+

In [50]:
df_spark.filter(df_spark['Salary']<=25000).show()

+--------------+---+----------+------+
|          Name|Age|Experience|Salary|
+--------------+---+----------+------+
|Koduri Srihari| 24|       3.0| 25000|
+--------------+---+----------+------+

In [51]:
df_spark.filter((df_spark['Salary']<=50000) & (df_spark['Salary']>=35000)).show()

+-------------+---+----------+------+
|         Name|Age|Experience|Salary|
+-------------+---+----------+------+
|Koduri Balaji| 25|       4.5| 45000|
+-------------+---+----------+------+

In [52]:
df_spark.filter((df_spark['Salary']<=50000) | (df_spark['Salary']>=35000)).show()

+---------------+---+----------+------+
|           Name|Age|Experience|Salary|
+---------------+---+----------+------+
| Koduri Srihari| 24|       3.0| 25000|
|   Koduri Srinu| 54|       2.0| 34666|
|   KOduri Ashok| 27|       6.0| 26745|
|Koduri Amalamma| 45|       4.0| 30550|
|  Koduri Balaji| 25|       4.5| 45000|
+---------------+---+----------+------+

In [53]:
df_spark.filter(~(df_spark['Salary']<=25000)).show()

+---------------+---+----------+------+
|           Name|Age|Experience|Salary|
+---------------+---+----------+------+
|   Koduri Srinu| 54|       2.0| 34666|
|   KOduri Ashok| 27|       6.0| 26745|
|Koduri Amalamma| 45|       4.0| 30550|
|  Koduri Balaji| 25|       4.5| 45000|
+---------------+---+----------+------+

#Pyspark Group by and aggregate Functions

In [54]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Aggregate").getOrCreate()

In [55]:
spark

In [121]:
df_pyspark = spark.read.csv('/content/dummy.csv',header=True,inferSchema=True)

In [122]:
df_pyspark.show()

+---------------+---+----------+------+
|           Name|Age|Experience|Salary|
+---------------+---+----------+------+
| Koduri Srihari| 24|       3.0| 25000|
|   Koduri Srinu| 54|       2.0| 34666|
|   KOduri Ashok| 27|       6.0| 26745|
|Koduri Amalamma| 45|       4.0| 30550|
|  Koduri Balaji| 25|       4.5| 45000|
+---------------+---+----------+------+

In [123]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: double (nullable = true)
 |-- Salary: integer (nullable = true)

In [124]:
df_pyspark.dtypes

[('Name', 'string'),
 ('Age', 'int'),
 ('Experience', 'double'),
 ('Salary', 'int')]

In [125]:
df_pyspark.describe().show()

+-------+------------+------------------+----------------+----------------+
|summary|        Name|               Age|      Experience|          Salary|
+-------+------------+------------------+----------------+----------------+
|  count|           5|                 5|               5|               5|
|   mean|        NULL|              35.0|             3.9|         32392.2|
| stddev|        NULL|13.656500283747663|1.51657508881031|7969.56675108503|
|    min|KOduri Ashok|                24|             2.0|           25000|
|    max|Koduri Srinu|                54|             6.0|           45000|
+-------+------------+------------------+----------------+----------------+

In [126]:
df_pyspark = df_pyspark.withColumn('experience below 3.5 years',df_pyspark['Experience']<3.5)
df_pyspark.show()

+---------------+---+----------+------+--------------------------+
|           Name|Age|Experience|Salary|experience below 3.5 years|
+---------------+---+----------+------+--------------------------+
| Koduri Srihari| 24|       3.0| 25000|                      true|
|   Koduri Srinu| 54|       2.0| 34666|                      true|
|   KOduri Ashok| 27|       6.0| 26745|                     false|
|Koduri Amalamma| 45|       4.0| 30550|                     false|
|  Koduri Balaji| 25|       4.5| 45000|                     false|
+---------------+---+----------+------+--------------------------+

In [127]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: double (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- experience below 3.5 years: boolean (nullable = true)

In [128]:
df_pyspark = df_pyspark.withColumnRenamed('experience below 3.5 years','Experience less than 3.5 Years')
df_pyspark.show()

+---------------+---+----------+------+------------------------------+
|           Name|Age|Experience|Salary|Experience less than 3.5 Years|
+---------------+---+----------+------+------------------------------+
| Koduri Srihari| 24|       3.0| 25000|                          true|
|   Koduri Srinu| 54|       2.0| 34666|                          true|
|   KOduri Ashok| 27|       6.0| 26745|                         false|
|Koduri Amalamma| 45|       4.0| 30550|                         false|
|  Koduri Balaji| 25|       4.5| 45000|                         false|
+---------------+---+----------+------+------------------------------+

In [129]:
## group by
# grouped to find the meacimum salary
df_pyspark.groupBy('Name').sum().show()

+---------------+--------+---------------+-----------+
|           Name|sum(Age)|sum(Experience)|sum(Salary)|
+---------------+--------+---------------+-----------+
|  Koduri Balaji|      25|            4.5|      45000|
|Koduri Amalamma|      45|            4.0|      30550|
|   KOduri Ashok|      27|            6.0|      26745|
| Koduri Srihari|      24|            3.0|      25000|
|   Koduri Srinu|      54|            2.0|      34666|
+---------------+--------+---------------+-----------+

In [135]:
## group by experience which gives count of  experience

df_pyspark.groupBy('Experience').count().show()

+----------+-----+
|Experience|count|
+----------+-----+
|       4.5|    1|
|       4.0|    1|
|       3.0|    1|
|       2.0|    1|
|       6.0|    1|
+----------+-----+

In [137]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     161961|
+-----------+

In [138]:
df_pyspark.agg({'Salary':'min'}).show()

+-----------+
|min(Salary)|
+-----------+
|      25000|
+-----------+

In [139]:
df_pyspark.agg({'Salary':'max'}).show()

+-----------+
|max(Salary)|
+-----------+
|      45000|
+-----------+

In [140]:
df_pyspark.agg({'Salary':'count'}).show()

+-------------+
|count(Salary)|
+-------------+
|            5|
+-------------+

In [141]:
df_pyspark.agg({'Salary':'mean'}).show()

+-----------+
|avg(Salary)|
+-----------+
|    32392.2|
+-----------+

In [145]:
df_pyspark.agg({'Salary':'median'}).show()

+--------------+
|median(Salary)|
+--------------+
|       30550.0|
+--------------+

# example of pyspark ml

In [146]:
df_pyspark.show()

+---------------+---+----------+------+------------------------------+
|           Name|Age|Experience|Salary|Experience less than 3.5 Years|
+---------------+---+----------+------+------------------------------+
| Koduri Srihari| 24|       3.0| 25000|                          true|
|   Koduri Srinu| 54|       2.0| 34666|                          true|
|   KOduri Ashok| 27|       6.0| 26745|                         false|
|Koduri Amalamma| 45|       4.0| 30550|                         false|
|  Koduri Balaji| 25|       4.5| 45000|                         false|
+---------------+---+----------+------+------------------------------+

In [148]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('Missing').getOrCreate()

In [150]:
## Read The dataset
training = spark.read.csv('/content/dummy.csv',header=True,inferSchema=True)

In [152]:
training.show()

+---------------+---+----------+------+
|           Name|Age|Experience|Salary|
+---------------+---+----------+------+
| Koduri Srihari| 24|       3.0| 25000|
|   Koduri Srinu| 54|       2.0| 34666|
|   KOduri Ashok| 27|       6.0| 26745|
|Koduri Amalamma| 45|       4.0| 30550|
|  Koduri Balaji| 25|       4.5| 45000|
+---------------+---+----------+------+

In [153]:
training.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: double (nullable = true)
 |-- Salary: integer (nullable = true)

In [154]:
training.columns

['Name', 'Age', 'Experience', 'Salary']

### [Age,Experience]----> new feature--->independent feature

In [157]:
from pyspark.ml.feature import VectorAssembler

featureassembler=VectorAssembler(inputCols=["Age","Experience"],outputCol="Independent Features")

In [158]:
output=featureassembler.transform(training)

In [159]:
output.show()

+---------------+---+----------+------+--------------------+
|           Name|Age|Experience|Salary|Independent Features|
+---------------+---+----------+------+--------------------+
| Koduri Srihari| 24|       3.0| 25000|          [24.0,3.0]|
|   Koduri Srinu| 54|       2.0| 34666|          [54.0,2.0]|
|   KOduri Ashok| 27|       6.0| 26745|          [27.0,6.0]|
|Koduri Amalamma| 45|       4.0| 30550|          [45.0,4.0]|
|  Koduri Balaji| 25|       4.5| 45000|          [25.0,4.5]|
+---------------+---+----------+------+--------------------+

In [160]:
output.columns

['Name', 'Age', 'Experience', 'Salary', 'Independent Features']

In [161]:
finalized_data=output.select("Independent Features","Salary")

In [162]:
from pyspark.ml.regression import LinearRegression
##train test split
train_data,test_data=finalized_data.randomSplit([0.75,0.25])
regressor=LinearRegression(featuresCol='Independent Features', labelCol='Salary')
regressor=regressor.fit(train_data)

In [163]:
### Coefficients
regressor.coefficients

DenseVector([-91.5152, 638.1373])

In [164]:
### Intercepts
regressor.intercept

31800.233912806045

In [165]:
### Prediction
pred_results=regressor.evaluate(test_data)

In [166]:
pred_results.predictions.show()

+--------------------+------+------------------+
|Independent Features|Salary|        prediction|
+--------------------+------+------------------+
|          [54.0,2.0]| 34666|28134.687812869746|
+--------------------+------+------------------+

In [167]:
pred_results.meanAbsoluteError,pred_results.meanSquaredError

(6531.312187130254, 42658038.88575618)